
body {
  background-color: #131319;
  color: #cacaca;
  padding-left: 0;
}

h1
{
  color: white;
}

h2 {
  color:#f1f1f1;
}

h3,
h4,
h5,
h6 {
  color: #cacaca;
}

strong {
  color: whitesmoke;
}

hr {
  background: #232323;
}

code {
  background-color: #2e2e35;
}

code,
pre {
  color: whitesmoke;
}

/*** SIDEBAR ***/

.w3-sidebar {
  background-color: #25252d;
  color: #cacaca;
}
