<div class="git-wiki-page-list">
  <h2>CHANGED</h2>
    {% if site.inc_before_page_list %}
    {% include {{ site.inc_before_page_list }} %}
    {% endif %}

    {% if site.data.space-nav.menu[0] %}
    <div class="accordion">

      {% for group in site.data.space-nav.menu %}

        {% if group.items[0] %}
          <div class="section"><input type="radio" name="accordion-1" id="{{group.title | slugify}}" value="toggle" />
            <label for="{{group.title | slugify}}"> <span>{{group.title}}</span> </label>

            <ul class="content">

            {% for subitem in group.items %}
              {% if subitem.items[0] %}

              <div class="section"><input type="radio" name="accordion-{{subitem.page | slugify}}" id="{{subitem.page | slugify}}" value="toggle" />
                <label for="{{subitem.page | slugify}}"> <span>{{subitem.page}}</span> </label>
                <ul class="content">

                {% for subsubitem in subitem.items %}
                  <li><a href="{{subsubitem.url}}">{{subsubitem.page}}</a></li>
                {% endfor %}
                </ul>
              </div>

              {% else %}
                <li><a href="{{subitem.url}}">{{subitem.page}}</a></li>
              {% endif %}
            {% endfor %}

          </ul>
        </div>
      {% elsif group.url %}
        <div class="section"><a href="{{group.url}}">{{group.title}}</a></div>
      {% endif %}
    {% endfor %}

  </div>
  {% endif %}

    {% if site.inc_after_page_list %}
    {% include {{ site.inc_after_page_list }} %}
    {% endif %}

</div>
